{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://th.bing.com/th/id/R.9b18d3557e22d7f61c4bcc2699c78cd2?rik=LuzbTqGRE0plJA&riu=http%3a%2f%2ffc05.deviantart.net%2ffs70%2fi%2f2012%2f046%2fe%2f8%2famumu__s_after_party_by_numberslayer-d4ptc05.jpg&ehk=ugZEYMhJaV1EQ2Yknw%2bw72Z1FUB78sKUwVDI5KBj9mY%3d&risl=&pid=ImgRaw&r=0"/>
{% endblock %}
