{% extends "layout.html" %}
{% block title %}
    Inicio
{% endblock %}

{% block main %}
    <div class="container">
         <div class="textos">
              <h2>¿QUÉ ES LEAGUE OF LEGENDS?</h2>
              <p>League of Legends es un juego de estrategia por equipos en el que dos equipos de cinco campeones se enfrentan para ver quién destruye antes
              la base del otro.
              Elige de entre un elenco de 140 campeones para realizar jugadas épicas, asesinar rivales y derribar torretas para alzarte con la victoria.
              </p><br>
              <h2>HABLEMOS DE JUGABILIDAD (17/12): ¿Y AHORA QUÉ?</h2>
              <h3>¡Descubrid los planes a corto y largo plazo del equipo de la Grieta para el principio de 2022!</h3>
              <p>¡Buenas! Soy Riot Axes y vengo a hablar sobre nuestros futuros planes en lo referido a la experiencia de juego.
              La pretemporada 2022 se encuentra en un estado bastante estable y, ahora que se acerca el fin de año,
              es el momento perfecto para hablar sobre lo que tenemos pensado para el próximo año.</p>
         </div>
  </div><br><br><br>
  <div class="textos">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <h3>Video de Enemy</h3>
                    <a href="https://www.youtube.com/watch?v=D9G1VOjN_84" target="_blank"><img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd615715a4615fbb7/61799ab32378d322b0633c98/Arc_EnemyMV_Textless.jpg " class="d-block w-500"></a>
                </div>

            <div class="carousel-item" data-bs-interval="3000">
                <h3>Introduccion al juego</h3>
                <a href="https://www.leagueoflegends.com/es-es/how-to-play/?_gl=1*two1es*_ga*MTYzMzU1ODA5Mi4xNjI1ODgzMTgw*_ga_FXBJE5DEDD*MTYzOTgxMjQzNS4xNy4xLjE2Mzk4MTI3OTkuNjA." target="_blank"><img src="https://www.mobafire.com/images/champion/skins/landscape/leblanc-championship.jpg" class="d-block w-500"></a>
            </div>
            <div class="carousel-item">
                <h3>Notas de la version</h3>
                <a href="https://www.leagueoflegends.com/es-es/news/game-updates/teamfight-tactics-patch-11-24-notes/" target="_blank"> <img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltd51626dc512592fd/61a8316e46713833c753a1ef/TFT_Patch_11_24_Notes_Banner_v2.jpg" class="d-block w-500"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div><br><br>

    <div class="container caja p-5">
        <div class="textos2">
            <h2>Planes a corto plazo</h2>
            <p>La mayoría de los cambios de la pretemporada 2022 han empezado con buen pie,
            ahora que la Dragona hextech y las recompensas por objetivo parecen estables tras implementar algunos ajustes.
            No obstante, seguimos monitorizando los cambios del terreno de la Dragona tecnoquímica y su alma. Teniendo en cuenta lo que hemos observado, hemos decidido implementar un pequeño cambio en la versión 12.1: añadiremos diversas flores del adivino en varias ubicaciones para mejorar la experiencia del equipo defensor en su propia jungla. Sabíamos que la Dragona tecnoquímica se convertiría en una incorporación emocionante,
            por lo que seguiremos vigilándola de cerca.</p>
            <p>Además de eso, también monitorizaremos atentamente otras áreas del juego. E
            n la versión 12.1, el hechizo de invocador Teleportar cambiará significativamente. Antes de que pasen 14 minutos de partida, el nuevo Teleportar tendrá un enfriamiento más largo y solo se podrá utilizar con torretas. Después de que pasen esos 14 minutos, su enfriamiento se reducirá y podrá utilizarse con los mismos objetivos que en la actualidad. Durante la temporada 2021, Teleportar ha tenido demasiada influencia en el resultado de las calles hacia el principio de la partida. Nuestro objetivo es limitar dicha influencia y deshacernos de determinadas situaciones problemáticas, al mismo tiempo que mantenemos su habilidad para estabilizar las calles que van perdiendo, mantener el avance por calles secundarias a mitad y al final de la partida,
            y crear oportunidades para flanquear a los enemigos.</p>
    </div>
    </div><br><br><br>

     <div class="textos">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <h3>KDA-ALLOUT</h3>
                    <a href="https://www.youtube.com/watch?v=3VTkBuxU4yk" target="_blank"><img src="https://wallpaperaccess.com/full/4737749.jpg" class="d-block w-500"></a>
                </div>
            <div class="carousel-item" data-bs-interval="3000">
                <h3>Centinelas de la luz</h3>
                <a href="https://www.leagueoflegends.com/es-es/news/dev/looking-back-on-sentinels-of-light/" target="_blank"><img src="https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/bltbbadcff6c441a3ec/60aff262eab8ca74ace87c0a/Inline_LoL_1280x720.jpg" class="d-block w-500"></a>
            </div>
            <div class="carousel-item">
                <h3>Visita la comunidad</h3>
                <a href="https://www.leagueoflegends.com/es-es/news/community/" target="_blank"> <img src="https://las.leagueoflegends.com/sites/default/files/styles/scale_xlarge/public/upload/final_3.jpg?itok=e7Uho09H" class="d-block w-500"></a>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </div><br><br>

    <div class="textos2">
        <h2>¡De ultimo una super guia para salir de hierro!</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/9qGGsA_ivwg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>





{% endblock %}